<?xml version='1.0' encoding='utf-8'?>
<package xmlns="{opf_ns}" unique-identifier="BookID" version="3.0" prefix="rendition: {rendition} ibooks: {ibooks}">

<metadata xmlns:dc="{dc_ns}" xmlns:opf="{opf_ns}">

    <dc:title>{title}</dc:title>
    <dc:creator>{creator}</dc:creator>
    <dc:publisher>{publisher}</dc:publisher>
    <dc:language>pt-BR</dc:language>
    <dc:date>{dctime}</dc:date>

    <dc:identifier id="BookID">{isbn}</dc:identifier>
    <meta property="dcterms:modified">{dctime}</meta>       <meta content="cover-image" name="cover" />
    <meta property="rendition:layout">pre-paginated</meta>	
    <meta property="rendition:orientation">auto</meta>
    <meta property="rendition:spread">both</meta>
    <meta property="ibooks:specified-fonts">true</meta>

</metadata>

<manifest>
    <item id="nav" href="nav.xhtml" properties="nav" media-type="application/xhtml+xml" />
    <item href="CSS/{style_sheet}" id="css" media-type="text/css"/>
    {manifest}

</manifest>

<spine>
    {spine}
</spine>

</package>