<?xml version='1.0' encoding='utf-8'?>
<package xmlns="{opf_ns}" unique-identifier="BookID" version="3.0" prefix="rendition: {rendition} ibooks: {ibooks}">

<metadata xmlns:dc="{dc_ns}" xmlns:opf="{opf_ns}">

    <dc:title>{title}</dc:title>
    <dc:creator id="author">{creator}</dc:creator>
    <meta refines="author" property="role" scheme="marc:relators">aut</meta>
    <dc:creator id="illustrator">{illustrator}</dc:creator>
    <meta refines="illustrator" property="role" scheme="marc:relators">ill</meta>
    <dc:creator id="translator">{translator}</dc:creator>
    <meta refines="translator" property="role" scheme="marc:relators">trl</meta> 
    <dc:publisher>{publisher}</dc:publisher>
    <dc:language>pt-BR</dc:language>
    <dc:date>{dctime}</dc:date>

    <dc:identifier id="BookID">urn:isbn:{isbn}</dc:identifier>
    <meta property="dcterms:modified">{dctime}</meta>
    <meta content="img1" name="cover" />
    <meta name="generator" content="Booknando Comic Creator"/>
    <meta property="rendition:layout">pre-paginated</meta>	
    <meta property="rendition:orientation">auto</meta>
    <meta property="rendition:spread">both</meta>
    <meta property="ibooks:specified-fonts">true</meta>

</metadata>

<manifest>
    <item id="nav" href="nav.xhtml" media-type="application/xhtml+xml" properties="nav"  />
    <item href="CSS/{style_sheet}" id="css" media-type="text/css"/>
    {manifest}

</manifest>

<spine>
    {spine}
</spine>

</package>