/* CSS criado por Booknando Livros   */ 
/* Booknando Comic Creator 0.1 tttt */ 
/* Sistema de produção de Comic book ePub3 FXL */

@charset "UTF-8";

body{{
    padding:0;
    margin:0;
    top: 0px;
    left: 0px;
    width: {img_width}px;
    height: {img_height}px;
}}

div.pageImage {{
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: {img_width}px;
    height: {img_height}px;
    opacity: 1;
    z-index: 0;
    display:block;
    pointer-events: none;
}}

img {{
    position: absolute;
    left: 0px;
    top: 0px;
    width: auto;
    height: auto;
    max-width: 100%;
}}