<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:epub="http://www.idpf.org/2007/ops">

<head>
<meta http-equiv="default-style" content="text/html; charset=utf-8"/>
<title>{title}</title>
<link rel="stylesheet" href="CSS/{style_sheet}" type="text/css"/>
</head>

<body>
<!-- Start of Nav Structures -->
<!-- Main Contents -->
<nav epub:type="toc" id="toc">
    <h1>Sumário</h1>
    <ol>
    {nav}
    </ol>
</nav>

<nav epub:type="page-list" id="page-list">
    <ol>
    {page_list}
    </ol>
</nav>

</body>
</html>