<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:ibooks="http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0" epub:prefix="ibooks: http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0">

<head>
<meta http-equiv="default-style" content="text/html; charset=utf-8"/>
<title>{title}</title>
<link rel="stylesheet" href="CSS/{style_sheet}" type="text/css"/>
</head>

<body>

<nav epub:type="toc" id="toc">
    <h1>Sumário</h1>
    <ol>
    {nav}
    </ol>
</nav>

<nav epub:type="landmarks" id="landmarks">
	<h1>Guias</h1>
	<ol>
	    <li><a epub:type="ibooks:reader-start-page" href="pag_1.xhtml">Inicio Leitura</a></li>
		<li><a epub:type="bodymatter" href="pag_1.xhtml">Inicio do conteúdo</a></li>
	    </ol>
</nav>    


<nav epub:type="page-list" id="page-list">
    <ol>
    {page_list}
    </ol>
</nav>

</body>
</html>